.container-fluid
  .row
    .col-xs-12.tc
      .img
        = image_tag 'finish-logo-2.png'
      .img
        = image_tag 'Cherckasy22.png'
    .col-xs-12.tc.buy
      = link_to 'Шопінг', wheels_path, class: 'btn btn-danger btnf'
