@media (min-width: 300px)
  .container-fluid
    width: 870px !important

@media (min-width: 992px)
  .container-fluid
    width: 870px !important

@media (min-width: 1200px)
  .container-fluid
    width: 870px !important

html, body
  height: 100%
  width: 100%

#welcome
  background-image: image-url('2.jpg')
  background-position: center center
  margin-top: 50px

  .buy
    margin-top: 50px
.tc
  text-align: center

.btnf
  font-family: 'Nimbus Sans L'
  font-size: 20px
