<!DOCTYPE html>
<html>
<head>
  <title>Neverstop</title>
  <meta name="description" content='мотопокрышки черкассы'>
  <meta name='keywords' content='мотопокрышки,мотопокрышки черкассы,моторезина,моторезина бу черкассы,моторезина бу украина'>
  <meta name='author' content='Sasha Stadnik'>
  <meta http-equiv='content-type' content='text/html; charset=UTF-8'>
  <meta http-equiv='refresh' content='30'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id='welcome'>

<%= yield %>
</body>
</html>
